$one:  #014d81;
$two: #DD8833;

.root {
    margin: 0;
    margin: 0;
    background-color: $one;
}

.page {
    max-width: 1440px;
    margin: 0 auto;
}

.header {

}

.logo {

}

.navigation {

}

.navigation__list {
    list-style-type: none;
}

.navigation__item {

}